<div class="w-screen h-screen bg-lime-100">
  <div class="flex flex-col">
    <div class="pt-20 mx-auto space-y-1.5 mb-10">
      <h1 class="text-5xl font-bold mb-10">出会い旅</h1>
      <p class="font-bold">まだ見ぬ発見を見つけよう</p>
    </div>
    <div class="mx-auto m-7">
      <%= link_to "ログイン", :login %>
    </div>
    <div class="mx-auto m-7">
      <%= link_to "会員登録", new_user_path %>
    </div>
    <div class="mx-auto m-7">
      <%= link_to "マップを見てみる", new_route_path %>
  </div>
</div>
