<footer id="footer" class="footer footer-center fixed bottom-0 left-0 bg-gray-200 text-black h-16 p-10">
    <div class="grid grid-flow-col gap-16 ">
      <%= link_to "マップ", new_route_path %>
      <p>リスト</p>
      <% if @user %>
        <%= link_to "マイページ", edit_user_path(@user) %>
      <% else %>
        <%= link_to "会員登録", new_user_path %>
      <% end %>
    </div>
</footer>