<div class="container relative flex">
  <div id="map" class="w-screen h-screen">
  </div>
  <div class="absolute bottom-2 right-2">
    <button id="start" class="bg-blue-500 w-16 h-16 inline-block rounded-full">
    </button>
  </div>
</div>



<script async src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["MAP_API_KEY"] %>&libraries=drawing,places,marker&callback=initMap" async defer>
</script>

<%= include_gon %>
<%= javascript_include_tag "map" %>
