<div class="relative flex min-h-screen min-w-screen">
  <div id="bar">
    <input id="autoc" class="controls fixed top-2 right-5 h-10 w-52 z-50 bg-[#ffedd5] text-black" type="text" placeholder="Search Box" />
  </div>
  <div id="map" class="w-screen">
  </div>
  <% if logged_in? %>
    <div class="absolute bottom-[100px] right-2">
      <button id="start" class="hidden bg-blue-500 w-16 h-16 inline-block rounded-full z-50">作成
      </button>
    </div>
    <div class="absolute bottom-20 left-1/2 transform -translate-x-1/2">
      <button id="complete" class="hidden bg-white w-16 h-16 inline-block rounded-full">完了
      </button>
    </div>
    <button id="modalOpen" class="btn fixed top-2 left-4">使い方</button>
    <div id="easyModal" class="fixed left-0 top-24 h-1/3 x-1/3">
      <div class=" bg-[#ffedd5]">
        <div class="modal-header">
          <span class="modalClose">×</span>
        </div>
        <div class="modal-body text-xs">
          <p>作成ボタン→地図上でタップすると描画モードになります。</p>
          <p>クリックで地点を入力できるので、スタート地点→中間地点（曲がり角とか）→ゴール地点とクリックしていき</p>
          <p>中央下の「完了ボタン」を押すと線が作成されます。</p><br>
          
          <p>ルート編集</p>
          <p>作ったルートをクリックすると点線になってまたルートが作れるようになります</p><br>

          <p>このモーダルは×ボタンを押すか、背景をクリックすると閉じます。</p>
        </div>
      </div>
    </div>
<% end %>
</div>



<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["MAP_API_KEY"] %>&libraries=drawing,places,marker&callback=initMap">
</script>

<%= include_gon %>
<%= javascript_include_tag "map", "data-turbo-track": "reload", async: true %>
